* {
  box-sizing: border-box;
}

main {
  margin: 3%;
  color:#D6C8AA;
}

header {
  text-align: center;
  justify-content: space-around;
  font-family: 'Satisfy', cursive;
  font-size: 70px;
  color: #F4B52B;
  text-shadow: .04em .04em 0 #2D3A49,.06em .06em 0 #2D3A49;
}

h2, h3 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  color:#4A7274;
  font-size: 50px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color:#2D3A49;
}

.about-me {
  padding: 1%;
  margin: 2%;
  margin-bottom: 5px;
  text-align: center;
  text-align: left;
  float:right;
}

#hero-image {
  width: 40%;
  height: auto;
  float: left;
  padding: 2%;
  margin-right: 1em;
  border-radius: 60%;
}

#hero-image-right {
  width: 40%;
  height: auto;
  float: right;
  padding: 2%;
  margin-right: 1em;
  border-radius: 60%;
}

#divider {
  height: 50px;
  width: 100%;
  background-image: url("./pattern_crop.jpg");
  background-repeat: repeat;
  background-size: 300px;
}

.project {
  padding: 1%;
  margin: 2%;
  margin-bottom: 5px;
  text-align: center;
}

#app-examples {
  align-items: center;
}

.screenshots {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

a:link, a:visited, a:hover, a:active {
  color: #2D3A49;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}

@media screen and (max-width: 990px) {
  header {
    font-size: 40px;
  }
  h2, h3 {
    font-size: 30px;
  }
  .divider {
    height: 20px;
  }
}
@media screen and (max-width: 660px) {
  header {
    font-size: 30px;
  }
  h2, h3 {
    font-size: 20px;
  }
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
  .divider {
    height: 10px;
  }
}
  @media screen and (max-width: 320px) {
    header {
      font-size: 24px;
    }
    h2, h3 {
      font-size: 20px;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
    }
    .divider {
      height: 5px;
    }
  }


/* 
teal = #4A7274
dark blue = #2D3A49
black = #1A1B11
beige = #D6C8AA
yellow = #F4B52B 



		<img src="./pattern_crop.jpg" alt="petal pattern">

<div id="divider" alt="flower petals"></div>

*/