* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

header {
  height: 400%;
  text-align: center;
  padding: 10%
  justify-content: space-around;
  font-family: 'Satisfy', cursive;
  font-size: 70px;
  color: #2D3A49;    
  text-shadow: .04em .04em 0 #F4B52B,.06em .06em 0 #F4B52B;
}

h2, h3 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  color:#4A7274;
  font-size: 50px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color:#2D3A49;
}

.heading {
  margin: 0;
  padding: 0;
}

.background-image {   
  margin: 0;   
  width: 100%;
  height: auto; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./pattern_400px.jpg");  
}

.about-me {
  padding: 2%;
  margin: 2%;
  margin-bottom: 2%;
  text-align: center;
  text-align: left;
  float:right;
}

#hero-image {
  height: auto;
  width: 50%;
  float: left;
  padding: 2%;
  margin-right: 1em;
  border-radius: 60%;
}

#hero-image-right {
  height: auto;
  width: 30%;
  float: right; 
  padding: 2%;
  margin-left: 1em;
  border-radius: 60%;
}

.project {
  padding: 1%;
  margin: 2%;
  margin-bottom: 5px;
  text-align: center;
  align-items: center;
  
}

.screenshots {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

a:link, a:visited, a:hover, a:active {
  color: #2D3A49;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}

ul img {
  height: 60px;
}

@media screen and (max-width: 1073px) {
  header {
    font-size: 40px;
  }
  h2, h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 676px) {
  header {
    font-size: 30px;
  }
  h2, h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
    header {
      font-size: 24px;
    }
    h2, h3 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
}


/* 
teal = #4A7274
dark blue = #2D3A49
black = #1A1B11
beige = #D6C8AA
yellow = #F4B52B 



		<img src="./pattern_crop.jpg" alt="petal pattern">

<div id="divider" alt="flower petals"></div>

/*  #divider {
  height: 50px;
  width: 100%;
  background-image: url("./pattern_crop.jpg");
  background-repeat: repeat;
  background-size: 300px;
}    

.large-title {
  height: 500px;
  width: 100%;
  padding: 0, 0, 0, 0;
  margin: 0, 0, 0, 0;
  background-image: url("./pattern.jpg");
  background-repeat: no-repeat;
  background-size: 500px;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}



*/




